body{
  color: #ff8e93;
}

.uwu-inc {
  text-align: center;
  border-radius: 15px;
  border: solid rgba(255, 176, 183, 0.705);
  background-color: #fff1f2f3;
  padding: 2%;
  margin: 4%;
  padding-bottom: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.uwu-inc-header {
  background-color: #ffc6d0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb6169;
}

/* ------- Form CSS -------- */

.form-inputs{
  margin: 0 20% 0 18%;
  width: 60%;
  border: solid rgba(255, 176, 183, 0.705);
  background-color: rgba(255, 185, 185, 0.24);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 5% 2% 5% 2%;
}

button{
  width: 20%;
  margin-top: 5%;
  color: white;
  background-color: #ffc6d0;
  border: none;
  border-radius: 8px;
  padding: 2%;
}
